*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #97d7eb;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 200px;
    margin-top: 12px;
    width: 70%;
    margin-left: 12%;
}
header img{
    width: 10%;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    padding-left: 12px;
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: 26px;
}
.pro{
    margin-top: 20px;
    margin-left: 12%;
    width: 70%;
    height: 80%;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pro img{
    width: 50%;
}
.pro p{
    font-size: 30px;
    padding-left: 20px;
}
.btn {
    width: 200px;
    padding: 10px;
    font-size: 24px;
    background-color: #97d7eb;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
    transition: all 0.4s ease;
    position: relative;
    left: 80px;
}

.btn:hover {
    background-color: #8bc2d3;
}